.rewardsgroup{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 28px;

}

.SuperTitleContent{
    padding: 10px;
    font-weight: 600;
    width: 100%;
    color: #291bb9;
}


