.giftContentCards{
    height: 100%;
    padding: 25px 0 0 0;
    width: 100%;
    
}
.giftContentList{
    grid-template-columns: repeat(4, calc(22% - 20px));
    display: grid;
    justify-content: center;
    gap: 30px;
    padding: 0 10px 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
.giftContentImgContainer{
    padding: 0;
    position: relative;
    width: 100%;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.giftContentImg{
    width: 45%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
 
    border-style: none;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 153px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.giftContentInfo{
   
    text-align: left !important;  
}

.giftContentInfoTitle{
    text-align: center;
    font-size: .875rem;
    font-weight: 600;
    color: #0f0f0f;
    margin-bottom: 10px;
    width: 100%; 
}
.giftContentInfoextraInformation{
    min-height: 100px; 
}
.giftContentInfoSousInformation{
   text-align: center;
    font-size: .875rem;
    width: 100%;
    color: #0f0f0f;
    overflow: hidden;
    text-overflow: ellipsis;
    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow: hidden;
    height: 61px;

}
.giftContentButtnCart{
    display: flex;
    font-size: .875rem;
    width: 100%;
    color: #0f0f0f;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: space-around;

}

