

.profileImg{
    height:100px;
    width:100px;
    border-radius: 130px ;
    margin: auto;
    display: block;
}

input{
    width: 300px;
    height:50px;
    border-radius:60px;
    
    border: none;
    outline: none;
    background-color:#fff;
 

}
.password{
    text-align: center;
    font-size: 15px;
    margin: auto;
    display: block;
   
}
