.employeePerformance{
    padding: 20px 14px;
    border: solid 2px #e8e8e9;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.settingInfo{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.avatarWithBadge{
    
    width: 96px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.avatarUser{
    height:100px;
    width:100px;
    border-radius: 130px ;
    margin: auto;
    display: block;
}

.userBadge{
    top: 66.6px;
    right: 23.4994px;
    position: absolute;
    width: 49%;
}
.infoUserJob{
    font-size: 12px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #0f0f0f;
    width: 100%;
    text-align: center;
}
.infoUserName{
    font-size: 1.125rem;
    font-weight: bold;
    color: #0f0f0f;
    width: 100%;
    text-align: center;
}

.performanceTotalPoints{
    width: 100%;
    margin-bottom: 20px;
}
.performanceTotalPointsTitle{
    margin-bottom: 10px;
    font-size: 16px;
    font-size: .75rem;
    font-weight: bold;
    color: #0f0f0f;
}
.dashboardRecompenses{
    width: 100%;
}
.dashboardRecompensesTitle{
    font-size: 1.0rem;
    font-weight: bold;
    color: #0f0f0f;
    padding-bottom: 20px;
}
.rewards {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.dashboardTopPerformingEmployee{
    padding-top: 20px;

}
.dashboardTopPerformingEmployeeTitle{
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;  
}


.courseTime{
    height: 450px;
    padding-right: 15px;
    overflow-y: auto;
}
.timeContent{
    border-bottom: 2px solid #222;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.timeContentSuper{
    font-size: 1.25rem;
    line-height: 1.25;
    letter-spacing: -.5px;
    width: 35%;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #0f0f0f;
    display: flex;
}
.timeContentTitle{
    font-size: 17px;
    line-height: 1.25;
    letter-spacing: -.5px;
    margin-top: 16px;
}

.timeContentDesciption{
    overflow: hidden;
    height: 59px; 
    line-height: 1.22;
    letter-spacing: -.45px;
    width: 60%;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #0f0f0f;
    margin-bottom: 20px;
    font-size: 1rem;
}
.timeContentTitleContainer{
    margin-top: 11px;
    margin-right: 27px;
    text-decoration: underline;
    box-sizing: border-box;
}